### class : 클래스
- 변수와 함수를 묶어 놓은 개념
- 사용 방법
    - 변수와 함수가 들어있는 클래스를 선언
    - 클래스를 객체로 만들어서 클래스 안에 선언된 변수와 함수를 사용

#### 1. 기본 클래스의 선언

In [35]:
# 클래스의 선언
class Calculator:
    
    num1 = 1 
    num2 = 2
    
    def plus(self1):
        return self1.num1 + self1.num2
    
    def minus(self1):
        return self1.num1 - self1.num2

In [36]:
Calculator().plus()

3

In [37]:
# 클래스의 사용
calc = Calculator()
calc

In [38]:
calc.num1, calc.num2, calc.plus(), calc.minus()

(1, 2, 3, -1)

In [39]:
# self의 의미 : 객체 자신
calc2 = Calculator()

In [40]:
calc2.num1 = 10

In [41]:
calc2.plus()

12

In [42]:
calc.num1 + calc2.num1

11

### 2. 객체지향
- 실제 세계를 코드에 반영해서 개발하는 방법
- 여러명의 개발자가 코드를 효율적으로 작성해서 프로젝트 완성시키기 위한 방법
- 설계도를 작성(class) -> 실제 물건(object)
- 사용자 정의 데이터 타입

In [43]:
calc2.plus()

12

In [44]:
obj = "python"
obj.upper()

'PYTHON'

In [45]:
obj

'python'

In [46]:
ls = [1, 3, 2]
ls.sort()

In [47]:
ls

[1, 2, 3]

In [48]:
[data for data in dir(calc) if data[:2] != "__"]

['minus', 'num1', 'num2', 'plus']

### 3. 생성자
- 클래스가 객체로 생성될 때 실행되는 함수
- 변수(재료)를 추가할 때 사용

In [49]:
class Calculator:
    
    # 생성자 함수 : __init__
    def __init__(self, num1, num2 ):
        self.num1 = num1
        self.num2 = num2
    
    
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [59]:
calc1 = Calculator(3,4)

In [61]:
calc1.plus()

7

In [62]:
class Calculator:
    
    # 생성자 함수 : __init__
    def __init__(self, num1, num2 = 10):
        self.num1 = num1
        self.num2 = num2
    
    
    def plus(self):
        return self.num1 + self.num2
    
    def minus(self):
        return self.num1 - self.num2

In [63]:
test1 = Calculator(4)

In [64]:
test1.plus()

14

In [65]:
calc1 = Calculator(3)

In [66]:
calc1.plus()

13

In [67]:
calc2 = Calculator(3, 5)
calc2.plus()

8

In [57]:
# join
ls = ["python", "is", "good"]
sep = " "
sep.join(ls)

'python is good'

In [58]:
# join
ls = ["python", "is", "good"]
sep = " "
"-".join(ls)

'python-is-good'

In [72]:
# pandas dataframe
import pandas as dp

In [73]:
df = dp.DataFrame([{"name":"jin", "age":20},{"name":"andy", "age":21}
             ])
df

   name  age
0   jin   20
1  andy   21

In [74]:
df = pd.DataFrame([{"name":"jin", "age":20},{"name":"andy", "age":21}
             ])
df

   name  age
0   jin   20
1  andy   21